.Rhistory
software/ampliconDIVider-master
software/sam2pairwise

analysis/test_bwa/*
!analysis/test_bwa/e_genome.fa
!analysis/test_bwa/e_seq.fa
!analysis/test_bwa/run_bwa.sh
analysis/idx/danRer7*

analysis/replicate_CrispRVariants/simulation/*
analysis/replicate_CrispRVariants/amplicondivider_simulation_commands.sh
analysis/replicate_CrispRVariants/simulation_commands.sh
analysis/replicate_CrispRVariants/crispresso_simulation_commands.sh
analysis/replicate_CrispRVariants/crispresso_pooled_commands.sh

analysis/indel_size/simulation/*
analysis/indel_size/amplicondivider_simulation_commands.sh
analysis/indel_size/simulation_commands.sh
analysis/indel_size/crispresso_simulation_commands.sh
analysis/indel_size/crispresso_pooled_commands.sh

analysis/real_offtargets/simulation_0.1/*
analysis/real_offtargets/simulation_0.1_commands.sh
analysis/real_offtargets/amplicondivider_simulation_0.1_commands.sh
analysis/real_offtargets/crispresso_simulation_0.1_commands.sh
analysis/real_offtargets/crispresso_pooled_simulation_0.1_commands.sh

analysis/real_offtargets/simulation_0.2/*
analysis/real_offtargets/simulation_0.2_commands.sh
analysis/real_offtargets/amplicondivider_simulation_0.2_commands.sh
analysis/real_offtargets/crispresso_simulation_0.2_commands.sh
analysis/real_offtargets/crispresso_pooled_simulation_0.2_commands.sh

analysis/real_offtargets/simulation_0.3/*
analysis/real_offtargets/simulation_0.3_commands.sh
analysis/real_offtargets/amplicondivider_simulation_0.3_commands.sh
analysis/real_offtargets/crispresso_simulation_0.3_commands.sh
analysis/real_offtargets/crispresso_pooled_simulation_0.3_commands.sh

analysis/hdr/simulation/*
analysis/hdr/simulation_commands.sh
analysis/hdr/crispresso_simulation_commands.sh
analysis/hdr/crispresso_pooled_simulation_commands.sh

analysis/real_dataset/data/*.bam
analysis/real_dataset/data/*.bam.bai
analysis/real_dataset/data/*.fq
analysis/real_dataset/data/*.fastq
analysis/real_dataset/data/crispresso
analysis/real_dataset/data/amplican_results
analysis/real_dataset/data/amplicondivider
analysis/real_dataset/data/merged


analysis/precision/simulated/*
analysis/precision/results_0/*
analysis/precision/results_0.01/*
analysis/precision/results_0.001/*

